body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
input {
  padding: 5px;
}
button {
  padding: 5px 10px;
}
ul {
  margin-top: 20px;
}
li {
  margin: 5px 0;
}
div {
   font: 500;
   font-style: italic;
   color: darkorange;
}